body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 100px;

}

li {
  list-style: none;
}

img {
  border-radius: 50%;
}

.container-fluid {
  max-width: 576px
}
.form-control{
  max-width: 275px;
}

.nameDiv {
  display: none;
}

#signupLink:hover .nameDiv{
  display: block;
  transition-duration: 3s;


}
.transformDelayOut{
  transition-duration: 3s;
  /* opacity: .0; */
}

.transformDelayIn{
  opacity: 100;
  display: block;
 transition: opacity 2s ease-in;
}

.hideSignin {
  display: none;
}

.homePage {
  margin-right: 25%;
}

.hCol-1 {
  background-color: green;
}

.hCol-2 {
  background-color: blue;
}

.hCol-3 {
  background-color: yellow;
}

.hCol-4 {
  background-color: lightblue;
}
