body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-fluid {
  max-width: 576px
}
.form-control{
  max-width: 275px;
}

.transformDelayOut{
  transition-duration: 2s;
  transform: rotateY(360deg);
  opacity: .0;
}

.transformDelayIn{
  transition-duration: 2s;
  transform: rotateY(360deg);
  display: 'block';
  opacity: 100;
}
